<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SpectraTry - Sign In</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans" >

  <!-- Top Section with Background Image -->
  <div class="relative w-screen h-screen bg-cover bg-center "
       style="background-image: url('assets/Logo.jpg');">
	   <div class="absolute w-[200px] h-[150px] top-40 left-60 bg-cover  "
       style="background-image: url('assets/setting.png');"></div>
	   <div class="absolute w-[200px] h-[180px] top-40 right-60 bg-cover  "
       style="background-image: url('assets/Custmer.png');"></div>
    <div class="absolute w-[150px] h-[130px] bottom-10 right-10 bg-cover  "
       style="background-image: url('assets/glass_text.png');"></div>
	   
  
  </div>



</body>
</html>
