
  <!-- Top Section with Background Image -->
<div class="relative w-screen h-screen bg-cover bg-center "
      >
  <div class="absolute top-0 left-0 w-1/4 h-dvh">
    <app-glasses-viewer [stated]="'1'" [glasses_list]="glasses_List" (selected_glasses)="onSelectGlasses($event)" ></app-glasses-viewer>
  </div>
  
  <div class="absolute top-0 left-1/4 w-1/2 h-full bg-color-100">
    <app-face-overlay [path]="selected_glasses" ></app-face-overlay>
  </div>
  <div class="absolute top-0 right-0 w-1/4 h-dvh">
    <app-glasses-viewer [stated]="'1'"></app-glasses-viewer>
  </div>
</div>



